---
export const prerender = false;
import Layout from "@components/Layout.astro";
import { actions, isInputError } from "astro:actions";
import { getUserEmailFromCookie, deleteUserEmailCookie } from "@auth";

const { user, session } = Astro.locals;
if (session || user) {
  return Astro.redirect("/");
}

const signInResult = Astro.getActionResult(actions.auth.signin);
const signUpResult = Astro.getActionResult(actions.auth.signup);
const resendResult = Astro.getActionResult(actions.auth.resend);
const clearEmailResult = Astro.getActionResult(actions.auth.clearEmail);

const invalidToken =
  Astro.url.searchParams.get("error") === "InvalidOrExpiredToken";

if (invalidToken) {
  deleteUserEmailCookie(Astro);
}

const submittedEmail = getUserEmailFromCookie(Astro);

const actionSubmitted = Boolean(
  signInResult?.data || signUpResult?.data || resendResult?.data
);

if (clearEmailResult?.data) {
  deleteUserEmailCookie(Astro);
  return Astro.redirect(Astro.url.pathname);
}
---

<Layout>
  <main>
    <h1>Magic Link Auth</h1>

    {
      invalidToken && (
        <p aria-live="assertive" role="alert">
          Invalid or expired link, please try again.
        </p>
      )
    }

    {
      signInResult?.error && (
        <div aria-live="assertive" role="alert">
          {console.log(signInResult.error)}
          {isInputError(signInResult.error)
            ? Object.values(signInResult.error.fields)
            : signInResult.error.message}
        </div>
      )
    }
    {
      signUpResult?.error && (
        <div aria-live="assertive" role="alert">
          {isInputError(signUpResult.error)
            ? Object.values(signUpResult.error.fields)
            : signUpResult.error.message}
        </div>
      )
    }
    {
      resendResult?.error && (
        <div aria-live="assertive" role="alert">
          {isInputError(resendResult.error)
            ? Object.values(resendResult.error.fields)
            : resendResult.error.message}
        </div>
      )
    }

    {
      actionSubmitted ? (
        <>
          <div aria-live="polite" role="status">
            {resendResult?.data ? (
              <>
                {resendResult?.data?.message}
                {submittedEmail && <span>{submittedEmail}</span>}
              </>
            ) : (
              <>
                {signInResult?.data?.message || signUpResult?.data?.message}
                {submittedEmail && <span>{submittedEmail}</span>}
              </>
            )}
          </div>

          <section>
            <form method="POST">
              <input type="hidden" name="email" value={submittedEmail} />
              <div>
                <button type="submit" formaction={actions.auth.signup}>
                  Create Account
                </button>
                <button
                  type="submit"
                  formaction={actions.auth.resend}
                  id="resend-btn"
                >
                  Resend Link
                </button>
              </div>
            </form>

            <div id="additional-options">
              <form method="POST" action={actions.auth.clearEmail}>
                <button type="submit">Use a different email</button>
              </form>
            </div>
          </section>
        </>
      ) : (
        <form method="POST">
          <label>
            Email:
            <input
              type="email"
              name="email"
              autocomplete="email"
              value={submittedEmail}
              required
            />
          </label>
          <div>
            <button type="submit" formaction={actions.auth.signup}>
              Create Account
            </button>
            <button type="submit" formaction={actions.auth.signin}>
              Sign In
            </button>
          </div>
        </form>
      )
    }
  </main>

  <style>
    @import "@styles/login.css";
  </style>

  <script src="@modules/client/resendButtonCounter"></script>
</Layout>
